* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("assets/images/adventure-blur-close-up-346885.jpg")
}


h1 {
  text-align: center;
  font-family: 'Diplomata' , cursive;
}

h2 {
  padding: 10px;
  margin: 10px;
  text-align: center;
}